.index-transition-enter-active,
.index-transition-leave-active {
    transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.index-transition-enter-from {
    opacity: 0;
    transform: translateY(-100px);
}

.index-transition-leave-to {
    opacity: 0;
    transform: translateY(-100px);
}

.about-transition-enter-active,
.about-transition-leave-active {
    transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.about-transition-enter-from {
    opacity: 0;
    transform: translateY(100px);
}

.about-transition-leave-to {
    opacity: 0;
    transform: translateY(100px);
}