.index-transition-enter-active,
.index-transition-leave-active {
    transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.index-transition-enter-from {
    opacity: 0;
    transform: translateY(-100px);
}

.index-transition-leave-to {
    opacity: 0;
    transform: translateY(-100px);
}

.about-transition-enter-active,
.about-transition-leave-active {
    transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.about-transition-enter-from {
    opacity: 0;
    transform: translateY(100px);
}

.about-transition-leave-to {
    opacity: 0;
    transform: translateY(100px);
}


/* Slide transition classes */
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s ease, opacity 0.3s ease;
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-enter-to,
.slide-leave-from {
  opacity: 1;
  transform: translateX(0);
}
